@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?nqvfky");
  src: url("fonts/icomoon.eot?nqvfky#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?nqvfky") format("truetype"),
    url("fonts/icomoon.woff?nqvfky") format("woff"),
    url("fonts/icomoon.svg?nqvfky#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: bold;
  text-transform: none;
  line-height: 1.2;
  font-size: 48px;
  padding: 12px;
  color: #eead2d;

  !important
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icone01:before {
  content: "\e900";
}
.icon-icone02:before {
  content: "\e901";
}
.icon-icone03:before {
  content: "\e902";
}
.icon-icone04:before {
  content: "\e903";
}
.icon-icone05:before {
  content: "\e904";
}
.icon-icone06:before {
  content: "\e905";
}
.icon-icone07:before {
  content: "\e906";
}
