@font-face {
   font-family: 'GothamOffice-Bold';
   font-display: swap;
   src: url('file:///C:/Users/Mvini/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-12-09_115112/fonts/GothamOffice-Bold/font.ttf');
}
